.App {
  text-align: center;
}

input{
  font-size: x-large;
  padding: 5px;
}
.emoji-card{
  background-color: lightgrey;
  width: 218px;
  border: 10px solid green;
  padding: 50px;
  font-size: 155px;
  margin: 14px;
}
.emogi-main-card{
  display: flex;
  flex-wrap: wrap;
}

.click-btn{
  background-color: darkgray;
  font-size: 20px;
  padding: 7.2px;
  padding-top: 9px;
}

.titles{
  font-size: 40px;
}