.App {
  text-align: center;
}

input{
  font-size: x-large;
  padding: 5px;
}
.emoji-card{
  background-color: lightgrey;
  width: 140px;
  border: 5px solid red;
  padding: 50px;
  font-size: 155px;
  margin: 14px;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.emogi-main-card{
  display: flex;
  flex-wrap: wrap;
}

